@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;900&display=swap');
/*Tailwind setup*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Scrollbar for Front page*/

html {
  font-family: 'Nunito Sans', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #6366f1;
}
#scrollableDiv::-webkit-scrollbar-track {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #312e81;
  border: 1px solid rgba(225, 225, 225, 0.5);
}
#scrollableDiv::-webkit-scrollbar-thumb {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3730a3;
}

/* Leaflet popup styling */
.custom-popup-style .leaflet-popup-content-wrapper,
.custom-popup-style .leaflet-popup-tip {
  background: #312e81;
  color: lightgray;
}
